<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />



    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <queries>

        <!-- Browser -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="http" />
        </intent>

        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>

        <!-- Gallery -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EXobe"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.services.ServiceCampaignAddActivity"
            android:exported="false" />
        <activity
            android:name=".activities.retailer.AddedCampaignActivity"
            android:exported="false"
            android:label="@string/title_activity_added_campaign"
            android:theme="@style/Theme.EXobe" />
        <activity
            android:name=".activities.retailer.StartCampaignRetailerActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.customer.CampaignListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CustomerWalletActivity"
            android:exported="false" />
        <activity
            android:name=".activities.services.ServiceConfigurationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.services.CommonForServicesActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.services.FeeConfigurationUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".activities.services.NotificationServicesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.services.ProfileServiceProviderActivity"
            android:exported="false" />
        <activity
            android:name=".activities.services.UploadDocumentForServiceActivity"
            android:exported="false" />
        <activity
            android:name=".activities.services.CommonBusinessFormActivity"
            android:exported="false" />
        <activity
            android:name=".activities.services.MyEarningActivity"
            android:exported="false" />
        <activity
            android:name=".activities.services.AllRejectedServicesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.services.ProceedOrderActivity"
            android:exported="false" />
        <activity
            android:name=".activities.services.ServiceCommonViewActivity"
            android:exported="false" />
        <activity
            android:name=".activities.services.SelectServiceRoleActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PaymentHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.retailer.NewUploadDocumentActivity"
            android:exported="false" />
        <activity
            android:name=".activities.terms_conditions"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.services.FillDetailsServiceProviderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.OzowPaymentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.uploadDocumentation_retailer"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.fillDetails_retailer"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.retailer.RegisterRetailerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".hostActivity.ServicesMainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.Review"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".fragments.products.SeeAllProductsFragment"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".activities.services.RegistrationServiceProvider"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.ServiceRequestReview"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".activities.ServicesAvailableListing"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />

        <activity
            android:name=".activities.Payment"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".activities.ChangePassword"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.cart.MyCartFragment"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Notification"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.address.ChooseDeliveryAddress"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.orderHistory.OrderHistoryFragment"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.ProductEnquiry"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.TermsAndConditionFragment"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.PrivacyPolicyFragment"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.FAQs"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fragments.cart.OrderReview"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.TutorialScreen"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fragments.products.ProductViewFragment"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.Customers_Deals"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.AboutUsFragment"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.CategoryItem"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.ServiceDetailPage"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Services"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fragments.orderHistory.MyBookingsFragment"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fragments.profile.MyProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".fragments.profile.EditProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".activities.OtpVerification"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".activities.ResetPassword"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".activities.ForgotPassword"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".activities.customer.RegisterCustomerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".fragments.address.AddAddressFragment"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".hostActivity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.exobe.viewdetails.com"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.exobe.viewdetails.com"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.exobe.viewdetails.com"
                    android:pathPrefix="/path"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.exobe.payfastpayment.com"
                    android:pathPrefix="/path"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.exobe.payfastpayment.com"
                    android:pathPrefix="/path"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ViewAddDeals"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name=".activities.Services_DealsScreen"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.exobe.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/white" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="my_channel_01" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />

<!--        <meta-data-->
<!--            android:name="com.google.android.geo.API_KEY"/>-->

        <service
            android:name=".notification.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>